if empty(glob('~/.vim/autoload/plug.vim'))
  silent !curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

set nocompatible
set modeline
set modelines=10
set mouse=a

" UI tweaks "
set nonumber
set norelativenumber
set noshowcmd
syntax on
set hlsearch
set incsearch
set colorcolumn=81
set laststatus=0
set noshowmode
set title
set foldcolumn=0

" Visual line wrapping (not adding LF to text in buffer) "
set wrap
set linebreak
let &showbreak = '        '

" Disable arrow keys (hardcore) "
map  <up>    <nop>
imap <up>    <nop>
map  <down>  <nop>
imap <down>  <nop>
map  <left>  <nop>
imap <left>  <nop>
map  <right> <nop>
imap <right> <nop>

" Persistent undo without the mess "
set undodir=~/.vim/undodir
set undofile

" Disable sounds "
set noerrorbells

" Presentation mappings "
noremap <left> :silent bp<cr>:redraw!<cr>
noremap <up> :silent bp<cr>:redraw!<cr>
noremap <right> :silent bn<cr>:redraw!<cr>
noremap <down> :silent bn<cr>:redraw!<cr>

" Colors "
colorscheme blue
hi Normal ctermfg=white ctermbg=darkblue
hi Ignore ctermfg=bg
hi Ignore ctermfg=darkblue ctermbg=darkblue
hi Title ctermfg=magenta ctermbg=darkblue
hi EndOfBuffer ctermfg=bg

" Hide cursor "
execute "autocmd BufLeave * set t_ve=" . &t_ve
execute "autocmd VimLeave * set t_ve=" . &t_ve
execute "autocmd BufEnter * set t_ve="
